<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form #ecommerce="ngForm" (ngSubmit)="onSubmit()">
            <h1 class="text-center text-bold"> E-Commerce Product Review Form</h1>
            <div class="form-group">
              <label for="Customername">Customer name</label>
              <input type="text" pattern="^[A-Za-z ]+$" class="form-control" required minlength="3" maxlength="50"
                ngModel name="Customername" #Customername="ngModel">
              <strong class="text-danger" *ngIf="Customername.touched && Customername.hasError('required')">This field
                is required !!!</strong>

              <strong class="text-danger" *ngIf="Customername.touched && Customername.hasError('minlength')">
                Minimum 3 characters are required.
              </strong>

              <strong class="text-danger" *ngIf="Customername.touched && Customername.hasError('maxlength')">
                Maximum 50 characters are allowed.
              </strong>

              <strong class="text-danger" *ngIf="Customername.dirty && Customername.hasError('pattern')">This field
                accept only alphabet!!!</strong>

            </div>

            <div class="form-group">
              <label for="ProductName">Product Name</label>
              <input type="text" class="form-control" required ngModel name="ProductName" #ProductName="ngModel">
              <strong class="text-danger" *ngIf="ProductName.touched && ProductName.hasError('required')">this field is
                required!!</strong>
            </div>


            <div class="form-group">
              <label for="Rating">Rating</label>
              <ng-container *ngFor="let r of ratingArr">
                <input type="radio" class="ml-2" [value]="r" [id]="r" required ngModel name="Rating" #Rating="ngModel">
                {{r}}

              </ng-container>
              <strong class="text-danger" *ngIf="ecommerce.submitted &&! ecommerce.controls['Rating'].valid">This field
                is required !!!</strong>

            </div>


            <div class="form-group">
              <label for="ReviewTitle">Review Title</label>
              <input type="text" class="form-control" minlength="5" maxlength="100" required ngModel name="ReviewTitle"
                #ReviewTitle="ngModel">
              <strong class="text-danger" *ngIf="ReviewTitle.touched && ReviewTitle.hasError('required')">This field is
                required !!!</strong>
              <strong class="text-danger" *ngIf="Customername.touched && Customername.hasError('minlength')">
                Minimum 5 characters are required.
              </strong>

              <strong class="text-danger" *ngIf="Customername.touched && Customername.hasError('maxlength')">
                Maximum 100 characters are allowed.
              </strong>


            </div>

            <div class="form-group">
              <label for="ReviewDescription">Review Description</label>
              <input type="text" class="form-control" minlength="30" maxlength="500" required ngModel
                name="ReviewDescription" #ReviewDescription="ngModel">
              <strong class="text-danger"
                *ngIf="ReviewDescription.touched && ReviewDescription.hasError('required')">This field is required
                !!!</strong>

              <strong class="text-danger" *ngIf="Customername.touched && Customername.hasError('minlength')">
                Minimum 30 characters are required.
              </strong>

              <strong class="text-danger" *ngIf="Customername.touched && Customername.hasError('maxlength')">
                Maximum 500 characters are allowed.
              </strong>


            </div>

            <button class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>